<div class="container">
     <div class="vertical-space-10"></div>
    <button type="button" ng-click="goBack()">Go Back</button>
<div>
    <div class="vertical-space-10"></div>
    <div>
        <div class="row">
        <div class="col-xs-3 col-sm-3 col-md-2 col-lg-2">
            <weaklist getweather="getWeather"></weaklist>
            </div>
            <div  class="col-xs-9 col-sm-9 col-md-6 col-lg-6">
            <p ng-if="apiCalled=='error'">{{error}}</p>
                <div ng-if="apiCalled=='success'">
<!--
    <div class="toggle">
    </div>
    <div>
        <span class="switch-top">Celsius</span>
    <label class="switch">
  <input type="checkbox" checked>
  <span class="slider round"></span>
        
</label>
        <span class="switch-top">Kelvin</span>
    </div>
-->
    <div ng-repeat="list in weather.list">
        <div ng-if="getWeather == $index">
            <div >
            </div>
<p>Temparature: {{list.main.temp}}</p>
<p>Wind Speed: {{list.wind.speed}}</p>
<p>Wind Angle: {{list.wind.deg}}</p>
<p>Weather Condition: {{list.weather[0].description}}</p>
<p>Temparature minimum: {{list.main.temp_min}}</p>
<p>Temparature maximum: {{list.main.temp_max}}</p>
<p>Ground Level: {{list.main.grnd_level}}</p>
<p>Humidity: {{list.main.humidity}}</p>
<p>Pressure: {{list.main.pressure}}</p>
<p>Sea Leavel:{{list.main.sea_level}}</p>
        </div>
    </div>
</div>
            </div>
        </div>
    
    </div>

</div>

</div>